alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Always use NeoVim
alias vim='nvim'

# Shortcuts
alias dl="cd ~/Downloads"
alias p="cd ~/projects"

alias g="git"
alias ga.='git add .'
alias ga='git add'
alias gc='git checkout $(git branch | fzf)'
alias gc.="git checkout -- ."
alias gd="git diff"
alias gm='git commit -m "$@"'
alias gp='git add -p'
alias gp='git pull'
alias ggp='git push'
alias gs='git status'
alias gus='git add -u; git status'

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

# use coreutils `ls` if possible…
hash gls >/dev/null 2>&1 || alias gls="ls"

alias showport='lsof -i :'
alias killport='kill -9'

# Get week number
alias week='date +%V'

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Get week number
alias week='date +%V'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# List all globally installed npm packages
alias npmlist='npm list -g --depth=0'

# List latest HackerNews
alias hackernews="curl -s https://hnrss.org/newest?points=500 | grep -o -e '<title>.*</title>'  | grep -o -e '\[[A-Za-z0-9 \-\:\.\,]\+\]' | tr '\]\[' ' '"
